body{
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	font-size:2em;
}

h2{
	font-size:1.5em;
}

h3{
	font-size:1.2em;
}

h4{
	font-size:1em;
}

span{
  font-size: 1.2em;
}
.wrapper{
    position: relative;
    z-index: 15;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw 7vw;
}

.section-title{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.header{
  padding: 20px 0;
}

.header a:link, a:active, a:visited{
  color: #000;
  font-style: normal;
  border-bottom: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.header a:hover{
  color: #000;
}

a:link, a:active, a:visited{
	color: black;
	border-bottom: 2px #f2f2f2 solid;
}

a:hover{
	color: #666;
  border-bottom: 2px #D94F23 solid;
}

a:link.currentLink, 
a:active.currentLink, 
a:visited.currentLink{
  border-bottom: 2px #D94F23 solid;
}

ul.menu{
  font-size: 1.1rem;

}

table.unstripped.tr{
  border: 0px solid #000;
}

table..unstripped.tbody{
  border: 0px solid #000;
}

span.label{
  border-radius: 10px;
  background-color: #D94F23; 
}

span.label.success{
  border-radius: 10px;
  background-color: #f2f2f2;
}

.project1{
  background-color: #fff;
  border-radius: 8px;
}

.project2{
  background-color: #fff;
  border-radius: 8px;
  margin-top: 100px
}
.project3{
  background-color: #fff;
  border-radius: 8px;
  margin-top: 100px
}

.project4{
  background-color: #fff;
  border-radius: 8px;
  margin-top: 100px
}

ul.menu a:link, a:active, a:visited{
  color: black;
  border-bottom: 4px #f2f2f2 solid;
  font-style: normal;
}

ul.menu a:hover{
  color: #666;
  border-bottom: 4px #D94F23 solid;
}

.button{
  background: #f2f2f2;
  font-size: 1.1rem;
}
.button:hover{
  background: #f2f2f2;
  border-bottom: 4px #D94F23 solid;
  color:#000;
}

ul{
	list-style: circle;
}

.profileimage{
	border: 4px solid #77a2a1;
	border-radius: 100px;
}

.text-center{
  position: relative;
  text-align: center;
  margin-top: 80px;

  margin-bottom: 80px;
}

.particulars{
	background-color: #fff;
	min-height: 500px;
}

/*********************** Project Pages ***********************/

.project-desc{
  position: relative;
  z-index: 15;
  margin-left: auto;
  margin-right: auto;
  padding: 1vw 0vw;
  max-width: 800px;
}

.project-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.nd{
  font-style: italic;
  color: #666;
  padding-top: 1vw;
}

.callout{
    border: none;
}

.grid-container{
  max-width:60rem;
}

/*********************** Custom ***********************/

.character-creator-header{
    height: 20rem;
    background: #222 url("../img/cc.jpg") no-repeat top;
    background-size: cover;
}

.ppt-header{
    height: 20rem;
    background: #222 url("../img/ppt.jpg") no-repeat top;
    background-size: cover;
}
